/*
##############################################################
##    ___              __     ___ __ __        __           ##
##  .'  _|.--.--.----.|  |--.'  _|  |__|.----.|  |--.----.  ##
##  |   _||  |  |  __||    <|   _|  |  ||  __||    <|   _|  ##
##  |__|  |_____|____||__|__|__| |__|__||____||__|__|__|    ##
##############################################################
        default fuckflickr theme - HACK AWAY MOFO
*/

/******** general *******/
body {
  font-size: 10px;
  font-family: Geneva, Arial, sans-serif;
}

a       { color: blue; }
a:hover { background-color: #ff0085; color: white; }
a:focus { -moz-outline:none; outline:none; }

input,form { font-size:9px; }

p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 2px 0;
}


.clear { clear: both; }


/******* layout *********/
#container {
  min-width: 980px; /* ~3 items wide; TODO doesn't work in IE */
}

#header {
  padding: 0px 20px 10px 20px;
}
#header a {
  text-decoration: none;
  font-weight: bold;
}
#header a:hover {
  color: white; /* gone but not forgotten */
}

#header h1 {
  margin: 0;
  padding: 0;
  display: inline;
  clear: both;
  font-size: 1em;
}

#header #logo a {
  border-bottom: 2px solid transparent; display: block;
  margin: 2px 0 5px 0;
}
#header #logo a:hover {
  border-bottom: 2px solid #ff0085;
}
#header #logo a img {background-color: #FFFFFF;}
#header #logo, /* humping graphic */
#header #fuckflickr-info { /* "why we should boycott..." */
  float: left;
}
#header #fuckflickr-info {
  color: #ff0085;
  margin: 25px 0 0 30px;
  width: 270px;
}

#main {
 padding: 0 20px 20px 20px;
}

#settings {
  float: right;
  margin: 25px 10% 0 20px;
}

#navigation {
  clear: both;
  display: block;
  font-size: 13pt; line-height: 17pt;
  background-color: #ffffaa;
  padding: 12px 0 12px 20px;
  margin: 0 0 15px 0;
  height: 1%; overflow: visible;
}

.rss {
  float: right;
  margin-right: 35px;
  margin-top: -4px;
}

.pagination {clear: both; margin: 15px 0 5px 0; padding: 0;}


#footer {
  padding-top: 60px;
  clear: both;
  color: #999;
}




/******* gallery display ******/

#directories {
 margin: 10px 0 20px 0;
 padding: 5px 10px;
 min-height: 25px;
}

.directory a {
  background: #efe url('../images/folder.png') no-repeat 0 50%;
  border: 1px solid #d0f5d0;
  padding: 15px 10px 15px 40px;
  float: left;
  margin-right: 10px;
}
.directory a:hover {
  background-color: #ff0085;
  border: 1px solid #000;
}

h1#title {
  margin: 5px 0 3px 0;
  padding: 0;
  font-size: 24px;
  line-height: 27px;
}
h3#description {
  font-size: 13px;
  margin: 5px 0 3px 0;
  padding: 0;
  line-height: 15px;
  font-weight: normal;
}




/****** entry display *****/
ul {
  list-style-type: none;
}

#items {
  list-style: none;
  clear: both;
/*  padding: 20px 0;*/
}

#items .selected {
  background: #fcf;
}


/* common across all items */
.item-wrapper, .item {

}
.item-wrapper {
  width: 300px;
  /*min-height: 260px;*/  /* FIXME does not work in IE6 (do we care?) */
}

.item {
  float: left;
  width: 300px;  /* default, gets overridden */
  /*height: 225px;*/ /* default, gets overridden */
  height: 300px;
  margin-right: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  text-align: left;
}

input.embed-code { background-color: #eee; color: #777; border: 1px solid #999; padding: 2px; }



/* specific filetypes */

/* images */
/*.image { height: 300px; }*/
.image .thumb { text-align: center; background-color: black; }
.image .thumb img { height: 240px; overflow: hidden; }

/* audio */
/*.audio { height: 100px; background-color: #eee; }*/
.audio-inline { height: 240px; }

/* videos */
/*.video { width: 500px; height: 440px; }
.video-wrapper { width: 500px; height: 390px; }*/
.video-wrapper { height: 240px; } /* same as image */
/*.video .meta { background: black; color: white; padding: 5px 8px; }
.video .meta a { color: white; }*/


/* ..... */
.preview a { /* given a background-image dynamically */
  float: left;
  position: relative;
  top: 0px;
  left: 0px;
  display: block;
  border: 5px solid transparent; /* pimped out on hover */
  width: 110px;  /* 120px - 2*border */
  height: 70px; /* 80px - 2*border */
  background-position: -5px -5px;
  overflow: hidden;
  text-align: center;
  background-color: black;
  margin: 0 6px 5px 0;
  padding-top: 10px;
  text-decoration: none;
}
.preview a:hover {
  border: 5px solid #ff0085;
}

.preview span { /* the actual text of the preview */
  background-color: #ffffff;
  color: black;
  padding: 2px 4px;
}

.info { font-size: 9px; }
.description { padding: 8px 0 0 0;}
.meta { padding: 0; margin-bottom: 30px; }

.hi-res { margin-left: 5px; }
.embed { margin-left: 8px; }




